{{template "base" .}}

{{ define "header" }}
{{template "nav-admin" .}}
{{ end }}

{{define "content"}}
<section class="container" style="margin-top:58px;">
  <h1>Current Book Listings</h1>
  <div id="books">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
          </div>
          <input type="text" class="search form-control" placeholder="Search">
          <button class="ml-2 sort btn btn-small btn-primary" data-sort="title">Sort by Title</button>
          <button class="ml-2 sort btn btn-small btn-primary" data-sort="author">Sort by Author</button>
        </div>
      </div>
    </div>


    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ISBN</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">View | Edit | Delete</th>
        </tr>
      </thead>
      <tbody class="list">
        {{ range .Books }}
        <tr>
          <th class="isbn" scope="row">{{ .Isbn }}</th>
          <td class="title">{{ .Title }}</td>
          <td class="author">{{ .PrintAuthors }}</td>
          <td class="nmap">
            <a href="/book/{{ .Isbn }}" class="btn btn-success btn-sm"><strong>VIEW</strong></a>
            <a href="/admin/book/{{ .Isbn }}" class="btn btn-warning btn-sm"><strong>EDIT</strong></a>
            <button type="button" class="btn btn-danger btn-sm" data-isbn="{{.Isbn}}" data-title="{{.Title}}" data-target="#del-modal" data-toggle="modal"><strong>DELETE</strong></a>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</section>

<div class="modal fade" id="del-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are You Sure?</h5>
      </div>
      <div class="modal-body">
        <p>You are about to delete <strong><span id="del-title"></span></strong>, please confirm by clicking the button below</p>
        <div id="del-err-alert" class="alert alert-danger" role="alert"> </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-danger" id="modal-del-btn">DELETE</button>
      </div>
    </div>
  </div>
</div>
{{end}}

{{ define "scripts" }}
<script>
var options = {
  valueNames: [ 'title', 'author', 'isbn']
};
var userList = new List('books', options);

$('#del-modal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var title = button.data('title')
  var isbn = button.data('isbn')
  var modal = $(this)
  var errAlert = modal.find('.modal-body #del-err-alert')
  errAlert.hide()
  modal.find('.modal-body #del-title').text(title)
  var delBtn = modal.find('#modal-del-btn')
  delBtn.click(function() {
    delBtn.attr("disabled", "disabled")
    $.ajax({
      url: '/api/v1/book/isbn/' + isbn,
      method: 'DELETE',
    }).done(function(data, textStatus, jqXHR) {
      if(textStatus == 'nocontent') {
        errAlert.show()
        errAlert.text('invalid isbn')
      } else {
        modal.modal('hide')
        button.closest('tr').remove()
      }
    }).fail(function( jqXHR, textStatus, errorThrown ) {
      // log errors
      console.log(jqXHR, textStatus, errorThrown)

      // update alert
      errAlert.show()
      errAlert.text(jqXHR.responseJSON.error)
    }).always(function() {
      // re-enable button
      delBtn.removeAttr("disabled")
    })
  })
})
</script>
{{end}}
