{{template "base" .}}
{{define "content"}}
<h1>{{ .Book.Title }}</h1>

<section class="row">
  <div class="col-md-8 col-sm-12">
    <p><strong>ISBN</strong>: {{.Book.Isbn}} | <strong>ISBN 10</strong>: {{.Book.Isbn10}}</p>
    <p><strong>Written By: </strong>{{.Book.PrintAuthors}}</p>
    <p>{{.Book.Desc}}</p>
    <p>
      <strong>Lang</strong>: {{if .Book.Lang}}{{.Book.Lang}}{{else}}N/A{{end}} | 
      <strong>Pages</strong>: {{if .Book.Pages}}{{.Book.Pages}}{{else}}N/A{{end}} | 
      <strong># Copies</strong>: {{.Book.Copies}} | 
      <strong>Genre</strong>: {{.Book.Genre}}
    </p>
    {{if .Book.GoodReadsId | or .Book.OpenLibraryId | or .Book.GoogleBooksId}}
    <p>Check it out on 
      {{if .Book.GoodReadsId}}
        <a target="_blank" href="https://www.goodreads.com/book/show/{{.Book.GoodReadsId}}">Good Reads</a>
      {{end}}
      {{if .Book.OpenLibraryId}}
        <a target="_blank" href="https://openlibrary.org/books/{{.Book.OpenLibraryId}}">Open Library</a>
      {{end}}
    </p>
    {{end}}
  </div>
  <div class="col-md-4 col-sm-12">
    <img src="{{.Book.ImgSrc}}" class="img-fluid" />
  </div>
</section>
{{end}}
